<section id="about" class="mx-auto flex justify-evenly mb-8 scroll-mt-36 lg:w-[70%] lg:flex-row lg:px-10 sm:w-full xs:flex-col-reverse xs:px-0">
    <img src="/image2.jpg" alt="" class="object-cover mx-auto rounded-lg lg:w-[40%] lg:h-52 sm:ml-0 xs:w-[90%] xs:ml-5 xs:h-[150px]">
    <div class="flex flex-col justify-center gap-y-3 text-center lg:w-[50%] lg:mx-0 md:mb-4 xs:w-[80%] xs:mb-6 xs:mx-auto">
        <h2 class="font-bold lg:text-[50px] xs:text-6xl">Hello I'm
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-500 from-30% via-orange-500 via-70% to-orange-400 xl:inline xs:block">Umer Farooq</span>
        </h2>

        <p class="opacity-60 text-[17px]">
            <span>Full Stack Developer with X year of Experience</span>
            <span>My hobbies are programmin in Mern Stack & WordPress</span>
            <span>and play videogames</span>
        </p>
    </div>
</section>