<section class="flex justify-center mx-auto py-16 xl:w-full xs:w-[75%]">
  <div class="sm:w-[50%] xs:w-full">
    <h2
      class="text-5xl w-fit font-bold mb-3 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 font-30% via-orange-500 via-70% to-orange-400"
    >
      Contact Me
    </h2>
    <p class="opacity-50">
      Feel free to react out for collabortions, inquires, or just a friendly
      coding chat anytime!
    </p>

    <form id="form" autocomplete="off" class="flex flex-col py-2 mt-1">
      <label for="from_name" class="font-bold opacity-90">Name</label>
      <input
        type="text"
        class="bg-transparent border-white/50 border-2 placeholder:text-white/5 px-3 py-[5px] rounded-md md:w-[80%] xs:w-full"
        placeholder="What's Your Name"
        name="from_name"
        id="from_name"
      />

      <label for="message" class="font-bold opacity-90">Message</label>
      <input
        type="text"
        name="message"
        id="message"
        class="bg-transparent border-white/50 border-2 placeholder:text-white/5 px-3 py-[5px] rounded-md md:w-[80%] xs:w-full"
        placeholder="Write Your Message"
      />

      <button
        id="button"
        class="border-2 border-gray-400 rounded-md bg-transparent w-fit px-8 py-1 my-4"
        >Submit</button
      >
    </form>
  </div>

  <img
    src="/macbook.png"
    alt="#"
    class="h-[220px] self-center md:w-[20%] xs:w-0"
  />
</section>
