<article class="w-full h-[60vh] overflow-hidden flex flex-col items-center justify-center relative md:px-20 xs:px-0">
    <header class="text-center absolute top-40 z-10">
        <span class="block font-blod sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px]">Passionate young Programmer</span>
        <span class="block font-blod sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px]">crafting digital dreams with</span>
        <span class="block font-blod sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px]">creative code wizardy.</span>
    </header>

    <img src="/image1.png" class="object-cover relative h-[900px] object-top lg:-bottom-[50%] lg:m-[800px] md:w-[1000px] md:-bottom-[40%] xxs:-bottom-[30%] xs:m-[1500px] xs:-bottom-[10%]" alt="">

</article>