---
import { projects } from "../assets/data"
import ProjectsCard from "./ProjectsCard.astro"
---
<div class="w-[75%] mx-auto mt-20 mb-10" data-tech-h1>
  <h1
    class="cursor-pointer font-bold w-fit md:mx-0 md:ml-5 sm:text-6xl xs:text-[40px] xs:mx-auto"
  >
    Projects
  </h1>
</div>

<div class="grid mx-auto gap-6 mb-6 xl:grid-cols-4 xl:w-4/5 lg:grid-cols-3 md:w-[85%] md:grid-cols-2 xs:grid-cols-1 xs:w-[90%]">
    {
        projects.map((card)=>(
            <ProjectsCard 
            title= {card.title}
            description= {card.description}
            image={card.image}
            />
        ))
    }
</div>